body,
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

.float-left,
.nav li {
    float: left;
}

.float-right {
    float: right;
}

.clear {
    overflow: hidden;
}

.nav {
    background-color: #2C3E50;
    height: 50px;
    font-size: 20px;
    color: #fff;
    line-height: 50px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
}

.nav li {
    margin: 0 10px;
}

.container {
    margin-top: 50px;
}

.header {
    height: 600px;
    background-color: #F5F8F1;
}

.header-text,
.aboutme-text {
    width: 60%;
    padding-top: 200px;
}

h1 {
    text-align: center;
    margin: 0 auto;
}

.aboutme {
    height: 600px;
    background-color: #D8EBEF;
    width:
}

.skill {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 400px;
    position: relative;
    background-color: #F5F8F1;
}

.skill-center {
    width: 1200px;
    margin: 0 auto;
}

.circleProgress_wrapper {
    width: 200px;
    height: 200px;
    margin: 0 50px;
    position: relative;
    top: 50px;
}

.skill-text {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 25px;
}

.skill-title {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 25px;
}

.wrapper {
    width: 100px;
    height: 200px;
    position: absolute;
    overflow: hidden;
}

.right {
    left: 100px;
}

.circleProgress {
    width: 160px;
    height: 160px;
    border: 20px solid transparent;
    border-radius: 50%;
    position: absolute;
    top: 0;
}

.rightcircle {
    border-top: 20px solid green;
    border-right: 20px solid green;
    right: 0;
    -webkit-animation: circleProgressLoad_right 5s linear 1;
    -webkit-transform: rotate(45deg);
}

.leftcircle {
    border-bottom: 20px solid green;
    border-left: 20px solid green;
    left: 0;
}

.leftcircle-html {
    -webkit-animation: circlehtml 5s linear 1;
    -webkit-transform: rotate(15deg);
}

.leftcircle-css {
    -webkit-animation: circlecss 5s linear 1;
    -webkit-transform: rotate(-30deg);
}

.leftcircle-js {
    -webkit-animation: circlejs 5s linear 1;
    -webkit-transform: rotate(-100deg);
}

.leftcircle-jq {
    -webkit-animation: circlejq 5s linear 1;
    -webkit-transform: rotate(-135deg);
}

@-webkit-keyframes circleProgressLoad_right {
    0% {
        -webkit-transform: rotate(-135deg);
    }
    50%,
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@-webkit-keyframes circlehtml {
    0%,
    50% {
        -webkit-transform: rotate(-135deg);
    }
    100% {
        -webkit-transform: rotate(15deg);
    }
}

@-webkit-keyframes circlecss {
    0%,
    50% {
        -webkit-transform: rotate(-135deg);
    }
    100% {
        -webkit-transform: rotate(-30deg);
    }
}

@-webkit-keyframes circlejs {
    0%,
    50% {
        -webkit-transform: rotate(-135deg);
    }
    100% {
        -webkit-transform: rotate(-100deg);
    }
}

@-webkit-keyframes circlejq {
    0%,
    50% {
        -webkit-transform: rotate(-135deg);
    }
    100% {
        -webkit-transform: rotate(-135deg);
    }
}

.experience {
    width: 100%;
    background-color: #D8EBEF;
}

.timeline {
    position: relative;
}

ul:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    background-color: #eee;
    margin-left: -1px;
}

.clearfix:before {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.time {
    position: absolute;
    left: 50%;
    width: 150px;
    height: 150px;
    border: 1px solid #eee;
    border-radius: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    text-align: center;
    line-height: 40px;
}

.timeline-content {
    width: 1140px;
    margin-top: 70px;
    height: 600px;
}

.experience-container {
    width: 1170px;
    margin: 0 auto;
}

.timeline-tab {
    width: 300px;
    height: 200px;
    padding: 10px 10px 10px 150px;
    text-align: right;
}

.timeline-tabr {
    width: 300px;
    height: 200px;
    padding: 10px 150px 10px 10px;
    text-align: left;
}

h5 {
    font-size: 16px;
}

h6,
.timeline p {
    font-size: 13px;
}
.contactbox{
    width: 930px;
    margin:0 auto;
}
.contactbox>p{
    text-align: center;
}
.tabbox{
    width: 938px;
    margin: 0 auto;
}
.contact-tab{
    width: 250px;
    margin:0 30px;
display: inline-block;
}
