body,
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

.float-left,
.nav li {
    float: left;
}

.float-right {
    float: right;
}

.clear {
    overflow: hidden;
}

.nav {
    background-color: #2C3E50;
    height: 50px;
    font-size: 20px;
    color: #fff;
    line-height: 50px;
    position: fixed;
    top: 0px;
    width: 100%;
}

.nav li {
    margin: 0 10px;
}

.container {
    margin-top: 50px;
}

.header {
    height: 600px;
    background-color: #F5F8F1;
}

.header-text,
.aboutme-text {
    width: 60%;
    padding-top: 200px;
}

h1 {
    text-align: center;
    margin: 0;
}

.aboutme {
    height: 600px;
    background-color: #D8EBEF;
    width:
}

.skill {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.circleProgress_wrapper {
    width: 200px;
    height: 200px;
    margin-right: 100px;
    position: relative;
    top: 50px;
}

.skill-text {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 25px;
}

.wrapper {
    width: 100px;
    height: 200px;
    position: absolute;
    overflow: hidden;
}

.right {
    left: 100px;
}

.circleProgress {
    width: 160px;
    height: 160px;
    border: 20px solid transparent;
    border-radius: 50%;
    position: absolute;
    top: 0;
}

.rightcircle {
    border-top: 20px solid green;
    border-right: 20px solid green;
    right: 0;
    -webkit-animation: circleProgressLoad_right 5s linear 1;
    -webkit-transform: rotate(45deg);
}

.leftcircle {
    border-bottom: 20px solid green;
    border-left: 20px solid green;
    left: 0;
}

.leftcircle-html {
    -webkit-animation: circlehtml 5s linear 1;
    -webkit-transform: rotate(30deg);
}

.leftcircle-css {
    -webkit-animation: circlecss 5s linear 1;
    -webkit-transform: rotate(-30deg);
}

.leftcircle-js {
    -webkit-animation: circlejs 5s linear 1;
    -webkit-transform: rotate(-60deg);
}

.leftcircle-jq {
    -webkit-animation: circlejq 5s linear 1;
    -webkit-transform: rotate(-75deg);
}

@-webkit-keyframes circleProgressLoad_right {
    0% {
        -webkit-transform: rotate(-135deg);
    }
    50%,
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@-webkit-keyframes circlehtml {
    0%,
    50% {
        -webkit-transform: rotate(-135deg);
    }
    100% {
        -webkit-transform: rotate(30deg);
    }
}

@-webkit-keyframes circlecss {
    0%,
    50% {
        -webkit-transform: rotate(-135deg);
    }
    100% {
        -webkit-transform: rotate(-30deg);
    }
}

@-webkit-keyframes circlejs {
    0%,
    50% {
        -webkit-transform: rotate(-135deg);
    }
    100% {
        -webkit-transform: rotate(-60deg);
    }
}

@-webkit-keyframes circlejq {
    0%,
    50% {
        -webkit-transform: rotate(-135deg);
    }
    100% {
        -webkit-transform: rotate(-75deg);
    }
}
